.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #673ab7;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.content {
  margin: 20px 0;
}

.footer {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #673ab7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.highlight {
  font-weight: bold;
  color: #333;
}
